<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/elevi">Elevi</a>
        </li>
        <li>
            <a href="/discipline">Discipline</a>
        </li>
        <li>
            <a href="/note">Note</a>
        </li>
        <li>
            <a href="/absente">Absente</a>
        </li>
        <li>
            <a href="/catalog">Cataloage</a>
        </li>
    </ul>
</body>
</html>